body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #212121;
    /* overflow: hidden; /* Hide scrollbars */
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

iframe {
    width: 96%;
    max-width: 1504px;
    height: 100vh; 
}

.main-navigation ul {
    display: flex;
    gap: 1em;

    background-color:bisque; 
}

.main-navigation {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em; 
    padding: 2em 0; 
}

.content img {
    width: 96vw;
    max-width: 80em;
    aspect-ratio: 1624/1020;
    /* padding-top: 10%; */

    position: relative;
}

.float{
	position:fixed;
	box-shadow: 2px 2px 3px #999;
}

.button {
    min-width: 4em;
    padding: 0 1em;
	bottom: 2.5em;
	right: 2.5em;
	background-color: lightsalmon;
	color: #FFF;
	text-align: center;
}

.button:before {
	content: "";
	display: inline-block;
	height: 3em;
	vertical-align: middle; /*pseudo element to fix button height*/
}